body {
    background-color: royalblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#title {
    color: yellow;
    text-align: center;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.5em;
}
#helpButton {
    float: right;
    border: 0px solid transparent;
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 1em;
}
.container {
    background-color: white;
    margin: auto;
    width: 60%;
    height: 60em;
    border: 0.5em solid black;
    padding: 1.2em;
    
}
#hintDiv {
    width: 60%;
    height: 1.8em;
    margin: auto;
    padding-bottom: 1em;
}
.hintHintText {
    float: right; 
    color: white;
    font-size: 1.1em;
    margin-top: 0.35em;
}
.questionText {
    font-weight: bold;
    font-size: 1.2em;
    float: left;
}
label {
    font-size: 1.1em;
}
.questionMark {
    display: block;
    float: left;
    margin-top: 1em;
    margin-left: 0.4em;
}
#buttonDiv {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
.endButton{
    width: 5em;
    height: 3em;
    border-radius: 1.2em;
    font-size: 1.1em;
    font-weight: bold;
}
.outputText {
    font-size: 1.2em;
    font-weight: bold;
    float: left;
}
.scoreDiv {
    height: 5em;
    width: 100%;
    display: flex;
    align-items: center;
}
.rangeDiv {
    background-color: transparent;
    height: 4em;
    margin-top: 1em;
    padding-left: 0em;
    padding-right: 0em;
    width: 100%;
    
}
.rangeBox {
    background-color: transparent;
    margin: auto;
    width: 17%;
    height: 50%;
    border: 0.4em solid black;
    border-left: 0em solid black;
    padding: 0.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}
#rbLeft {
    border-left: 0.4em solid black;
}
.rangeText {
    font-size: 0.9em;
    font-weight: bold;
}
#rangeBackground {
    z-index: -1;
    background-color: royalblue;
    width: calc(85% + 4.4em);
    height: 80%;
}
.tipText {
    font-size: 1em;
    margin-left: 1.5em;
}