#checklist p {
    float: left;
    font-weight: bold;
}

#hint-instruction {
    height: 1.8em;
    width: 60%;
    margin: auto;
    padding-bottom: 1em;
}

#hint-instruction p {
    margin-top: 0.35em;
    float: right; 
    font-size: 1.1em;
    color: #FFFFFF;
}

[data-title]::after {
    content: attr(data-title);
    margin-left: 5px;
    border: 1px solid #000000;
    padding: 4px 8px;
    visibility: hidden;
    background-color: #DDDDDD;
    color: #000000;
}

[data-title]:hover::after, 
[data-title]:active::after {
    visibility: visible;
}
