/* Universal Styles */

body {
    background-color: royalblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    width: auto;
    height: 3em;
    border-radius: 1.2em;
    font-size: 1.1em;
    font-weight: bold;
}

label {
    font-size: 1.1em;
}

#help-btn {
    float: right;
}

#title {
    color: yellow;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-top: 0.2em;
}

.container {
    background-color: white;
    margin: auto;
    width: 60%;
    height: auto;
    border: 0.5em solid black;
    padding: 1.2em;
}

.container p {
    font-size: 1.2em;
}

.container img {
    display: block;
    float: left;
    margin-top: 1em;
    margin-left: 0.4em;
}

.control-btn {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.control-btn button {
    margin-right: 1em;
}



/* home.html Styles */

#checklist p {
    float: left;
    font-weight: bold;
}

#hint-instruction {
    width: 60%;
    height: 1.8em;
    margin: auto;
    padding-bottom: 1em;
}

#hint-instruction p {
    float: right; 
    color: white;
    font-size: 1.1em;
    margin-top: 0.35em;
}

[data-title]:hover::after {
    visibility: visible;
}

[data-title]::after {
    content: attr(data-title);
    margin-left: 5px;
    border: 1px solid #000000;
    background-color: #DDDDDD;
    color: #000000;
    padding: 4px 8px;
    visibility: hidden;
}



/* result.html Styles */

#score-text {
    margin: 10px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
}

#score-bar {
    width: 100%;
    border-left: 5px solid #000000;
    border-top: 5px solid #000000;
    border-bottom: 5px solid #000000;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    position: relative;
}

#score-bar-content {
    display: flex;
    width: 100%;
}

#score-bar-content div {
    flex-grow: 1;
    border-right: 5px solid #000000;
    box-sizing: border-box;
    padding: 10px;
    z-index: 1;
}

#score-bar-bg {
    position: absolute;
    background-color: #ADD8E6;
    width: 100%;
    height: 100%;
}

#tips {
    display: flex;
    flex-direction: column;
    
}



/* result.html Styles */

.manual-header {
    font-weight: bold; 
    text-align: center;
}
